@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  margin: auto;
  max-width: 1440px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header .website-logo {
  width: 162px;
}

.banner {
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  background: #F6F6F6;
}
.banner form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #EAEAEA;
}
.banner form span {
  color: #353535;
}
.banner form input {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  width: 109px;
  margin: 15px 20px;
  border: none;
  color: #353535;
  background: #EAEAEA;
}
.banner h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  margin: 20px 47px;
  font-family: "Roboto";
}
.banner p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  font-size: 18px;
}

.banner__button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  font-family: roboto;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  transition: ease-in-out 1000ms;
  opacity: 1;
}
.banner__button:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.571);
  cursor: pointer;
}

.functioning {
  font-family: "roboto";
  line-height: 28.13px;
}
.functioning h1 {
  margin: 48px 80px 28px 20px;
}
.functioning .functioning__container {
  margin-bottom: 50px;
}
.functioning .functioning__container .functioning__container-select {
  position: relative;
  line-height: 19px;
  height: 72.38px;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin: 20px 20px 25px 32px;
  transition: ease-in-out 1000ms;
}
.functioning .functioning__container .functioning__container-select:hover {
  background: #F5EDFF;
}
.functioning .functioning__container .functioning__container-select:hover .functioning__logo {
  color: #9356DC;
}
.functioning .functioning__container .functioning__number {
  background: #9356DC;
  position: absolute;
  width: 20px;
  height: 20px;
  left: -13px;
  color: white;
  border-radius: 50%;
  text-align: center;
  padding: 3px;
}
.functioning .functioning__container .functioning__logo {
  color: #7E7E7E;
  font-size: 18px;
  margin: 0px 20px 0px 35px;
}
.functioning .functioning__container p {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .functioning .functioning__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .functioning .functioning__container .functioning__container-select {
    margin: 20px 20px 0px 10px;
    width: 322px;
  }
  .functioning .functioning__container .functioning__number {
    position: relative;
    width: 30px;
    left: -12px;
  }
}
@media screen and (min-width: 1280px) {
  .functioning .functioning__container {
    justify-content: space-between;
    margin: 0px 20px 50px;
  }
  .functioning .functioning__container .functioning__container-select {
    width: 30%;
  }
}

.restaurant {
  background: #F6F6F6;
  font-family: "roboto";
  padding: 20px 0px 40px;
}
.restaurant h1 {
  margin: 30px 80px 20px 20px;
}
.restaurant .restaurant__card {
  position: relative;
  height: 240px;
  margin: 0px 20px 20px 20px;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurant .restaurant__card .restaurant__new {
  display: flex;
  position: absolute;
  width: 75px;
  height: 20px;
  right: 10px;
  margin: 10px 0px;
  background: #99E2D0;
  color: #008766;
  padding: 5px;
  font-size: 14px;
  font-family: roboto;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.restaurant .restaurant__card img {
  width: 100%;
  height: 170px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
}
.restaurant .restaurant__card .restaurant__container-title-heart {
  display: flex;
  justify-content: space-between;
  margin: 13px;
}
.restaurant .restaurant__card .restaurant__container-title-heart .restaurant__title {
  font-family: "roboto";
  font-weight: 700;
  margin: 0;
}
.restaurant .restaurant__card .restaurant__container-title-heart .restaurant__title p {
  margin: 5px 0px;
  font-weight: 300;
}
.restaurant .restaurant__card .restaurant__container-title-heart .restaurant__heart {
  font-size: 25px;
  width: 25px;
  height: 25px;
  padding: 0px 10px;
}
@media screen and (min-width: 768px) {
  .restaurant .container-restaurant__card__new, .restaurant .container-restaurant__card {
    display: flex;
  }
  .restaurant .container-restaurant__card__new .restaurant__card, .restaurant .container-restaurant__card .restaurant__card {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .restaurant .container__restaurant {
    display: flex;
  }
  .restaurant .container__restaurant .container-restaurant__card__new, .restaurant .container__restaurant .container-restaurant__card {
    width: 100%;
  }
  .restaurant .container__restaurant .container-restaurant__card__new .restaurant__card, .restaurant .container__restaurant .container-restaurant__card .restaurant__card {
    width: 100%;
  }
}

footer {
  background: #353535;
  padding: 20px 0px 15px 20px;
}
footer p {
  font-family: "Shrikhand";
  font-size: 18px;
  color: white;
}
footer ul {
  font-family: "roboto";
  list-style-type: none;
  padding: 0;
}
footer ul li {
  color: white;
  line-height: 25px;
}
footer ul li span {
  display: inline-block;
  margin-right: 0px;
  font-size: 11px;
  width: 15px;
  height: 13px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
  }
  footer ul li {
    margin: 0px 20px 0px 0px;
  }
}
.restaurant__heart :nth-child(1) {
  position: relative;
  cursor: pointer;
}

.restaurant__heart :nth-child(2) {
  position: relative;
  color: transparent;
  top: -30px;
  opacity: 0;
  cursor: pointer;
  animation: heart-anim-reverse 1000ms;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
}
.restaurant__heart :nth-child(2):active {
  opacity: 1;
  animation: heart-anim 1000ms;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes heart-anim {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
@keyframes heart-anim-reverse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}

/*# sourceMappingURL=style.css.map */
