header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    // flèche de retour accueil
    .return{
        display: flex;
        left: 23px;
        font-size: 20px;
        position: absolute;
        align-items: center;
        i {
            color: $backgroundFooterColor;
        }
        
    }
    .website-logo {
        width: 162px;
    }

}

.restaurant-images {
    width: 100%;
    object-fit: cover;
    height: 275px;
}

#menu{
    background: #F6F6F6;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    position: relative;
    margin: -55px auto auto;
    max-width: 1055px;
    padding: 32px 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        display: flex;
        justify-content: space-between;
        font-size: 27px;
        line-height: 41px;
        font-family: 'shrikhand';
        text-align: center;
        margin: 0;
        // coeur à coté du titre
        .restaurant__heart :nth-child(1){
            left: 20px;
        }
        .restaurant__heart :nth-child(2){
            top:0;
            right: 12px;
        }
    }
    .menu__card{
        margin: 30px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        height: 275px;
        justify-content: space-between;
        width: 100%;
        max-width: 634px;
        opacity: 1;

        .menu__card__title{
            font-family: "roboto";
            font-size: 15px;
            border-bottom: solid;
            height: 25px;
            width: 37px;
            margin: 0;
            border-color: $tertiaryColor;
        }
        .menu__card__description{
            background: white;
            border-radius: 15px;
            padding: 12px;
            height: 45px;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            cursor: pointer;  
           
            h2{
                font-family: 'roboto';
                font-size: 17px;
                margin: 0;
                width: 100%;
            }

            p {
                width: 90%;
                margin: 5px 0px;
                font-family: 'roboto';
                font-size: 14.5px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                justify-content: space-between;
                transition: all 0.3s ease-in-out;
            }
            strong{
                font-family: 'roboto';
                display: flex;
                width: 9%;
                justify-content: flex-end;
            }

            .container-check { 
                background: $tertiaryColor;
                display: flex;
                position: absolute;
                right: 0px;
                width: 0px;
                height: 69px;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                justify-content: center;
                align-items: center; 
                transition: all 0.3s ease-in-out;

                .check {
                    color: $tertiaryColor;
                    background: white;
                    border-radius: 50%;
                    padding: 2px;
                    width: 16px;
                    text-align: center;
                    font-size: 13px;
                    transform: scale(0);
                    transition: all  0.3s ease-in-out;
                }
            }
    
            // animation coche verte au survol avec rotation du check
            &:hover{   
                .container-check{
                    background: $tertiaryColor;
                    width: 60px;
                    .check{   
                        transform: scale(1);
                    }
                }    
            }        
        }
    }

    // une entrée supplémentaire pour les restaurant la note enchantée.
    .note--enchantee {
        height: 365px;    
    }
            
    button {
        margin: 32px 0px 0px;
    }
    
    // reduction des texte au survol 
    .menu__card__description:hover {
       
        &.menu__card__description p {
            width: 73%;   
        }
        &.menu__card__description h2 {
            width: 80%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            
        }
    }

    // Animation en cascade par groupe entrees,plats,dessert
    .menu__card:nth-child(2) {
        animation: cascade 1s forwards;
      }
      
      .menu__card:nth-child(3) {
        animation: cascade 4s forwards;
      }
      
      .menu__card:nth-child(4) {
        animation: cascade 8s forwards;
        z-index: 0;
      }
      
      @keyframes cascade {
        from {
            opacity: 0;
            transform: translateY(50%);
        }
        to {
            opacity: 1;
            transform: translateY(0%);
        } 
    }
     
}
 
    // coeur en dessous du titre en dessous de 375px
    @media screen and (max-width:374px) {
        #menu h1   {
            flex-direction: column;
        }
    }