.banner {
    text-align: center;
    width: 100%; 
    padding-bottom: 50px;
    background: #F6F6F6;
    form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background: $backgroundForm;
        span {
            color: #353535;
        }
        input {
            font-size: 16px;
            font-family: 'Roboto';
            font-weight: 500;
            line-height: 18.75px;
            text-align: center;
            width: 109px;
            margin: 15px 20px;
            border: none;
            color: #353535;
            background: $backgroundForm;
            
        }
    }
    h1 {
        width: 280px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.13px;
        margin-left: 45px;
        font-family: 'Roboto';
    }
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        line-height: 21px;
        font-size: 18px; 
    }    
}

